{% extends "entidades/index.html" %}

{% block titulo %}
    <h1 class="mb-5">Formulario Ingreso de Clientes</h1>                                
{% endblock titulo %}

{% block intermedio %}
<div class="list-group list-group-flush">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><u><a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'clienteForm' %}">Formulario Ingreso de Clientes</a></u></th>
            </tr>
        </thead>
    </table>
</div>
<hr>
{% endblock intermedio %}

{% block contenido %}   
    
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Guardar">
    </form>

{% endblock contenido %}
    
    