{% extends "entidades/index.html" %}
{% load static %}

{% block titular %}
<img src="{% static '/assets/Flota.jpeg' %}"  width="500" height="100" >
{% endblock titular %}

{% block titulo %}
<h1 class="mb-5">Empleados</h1>
<p>Registro de los empleados activos de la empresa</p>
{% endblock titulo %}

{% block intermedio %}
<div class="list-group list-group-flush">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><u><a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'empleadoForm' %}">Formulario Ingreso de Empleados</a></u></th>
            </tr>
        </thead>
    </table>
</div>
<hr>
{% endblock intermedio %}

{% block contenido %}   
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>EMail</th>
            <th>Documento</th>
        </tr>
    </thead>
    <tbody>
    {% for e in empleados %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.apellido }}</td>
            <td>{{ e.email }}</td>
            <td>{{ e.documento }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    